---
import seasons from "@/data/f1.json";

import BaseLayout from "@/layouts/BaseLayout.astro";
import SectionHeading from "@/components/races/SectionHeading.astro";
import SeasonCard from "@/components/races/SeasonCard.astro";
import PredictionCard from "@/components/predictions/PredictionCard.astro";

import type { Race, RacePrediction } from "@/types";

export const getStaticPaths = async () => {
  return seasons.flatMap((season) => {
    return [
      {
        params: { year: season.year.toString() },
        props: {
          season,
        },
      },
    ];
  });
};

const { season } = Astro.props;

const mattRacesPredictions = season.races.map((race) => race.predictions.matt);
const tommyRacesPredictions = season.races.map(
  (race) => race.predictions.tommy
);

let mattRacePredictionsPoints = 0;
let tommyRacePredictionsPoints = 0;

mattRacesPredictions.forEach((prediction: RacePrediction) => {
  Object.keys(prediction).forEach((key: string) => {
    // @ts-expect-error
    let point: number = prediction[key].point;

    if (point !== null) {
      mattRacePredictionsPoints += point;
    }
  });
});

tommyRacesPredictions.forEach((prediction: RacePrediction) => {
  Object.keys(prediction).forEach((key) => {
    // @ts-expect-error
    let point: number = prediction[key].point;

    if (point !== null) {
      tommyRacePredictionsPoints += point;
    }
  });
});
---

<BaseLayout title=`${season.year} - Matt vs. Tommy`>
  <main class="max-w-5xl mx-auto">
    <div class="mt-16">
      <SectionHeading>{`F1 ${season.year} Season`}</SectionHeading>

      <section>
        <div
          class="mt-8 text-5xl md:text-7xl font-black p-4 place-items-center rounded-lg grid grid-cols-2 bg-gradient-to-r from-violet-500 to-fuchsia-500"
        >
          <div>{mattRacePredictionsPoints}</div>
          <div>{tommyRacePredictionsPoints}</div>
        </div>
      </section>

      <section>
        <SectionHeading>Season predictions</SectionHeading>
        <div class="mt-8 flex flex-col items-center gap-8">
          <SeasonCard season_predictions={season.season_predictions} />
        </div>
      </section>

      <section>
        <SectionHeading>Race predictions</SectionHeading>
        <div class="mt-8 flex flex-col items-center gap-8">
          {
            season.races.map((race) => {
              // // const Icon = CIRCUIT_ICONS[race.image];

              return <PredictionCard race={race as Race} />;
            })
          }
        </div>
      </section>
    </div>
  </main>
</BaseLayout>
