---
import Layout from "@/layouts/Layout.astro";
import RaceCard from "@/components/races/RaceCard.astro";
import SectionHeading from "@/components/races/SectionHeading.astro";

import AbuDhabi from "@/icons/AbuDhabi.astro";
import Australia from "@/icons/Australia.astro";
import Austria from "@/icons/Austria.astro";
import Azerbaijan from "@/icons/Azerbaijan.astro";
import Bahrain from "@/icons/Bahrain.astro";
import Belgium from "@/icons/Belgium.astro";
import Brazil from "@/icons/Brazil.astro";
import Britain from "@/icons/Britain.astro";
import Canada from "@/icons/Canada.astro";
import Emilia from "@/icons/Emilia.astro";
import Hungary from "@/icons/Hungary.astro";
import Italy from "@/icons/Italy.astro";
import Japan from "@/icons/Japan.astro";
import LasVegas from "@/icons/LasVegas.astro";
import Mexico from "@/icons/Mexico.astro";
import Miami from "@/icons/Miami.astro";
import Monaco from "@/icons/Monaco.astro";
import Netherlands from "@/icons/Netherlands.astro";
import Qatar from "@/icons/Qatar.astro";
import SaudiArabia from "@/icons/SaudiArabia.astro";
import Singapore from "@/icons/Singapore.astro";
import Spain from "@/icons/Spain.astro";
import UnitedStates from "@/icons/UnitedStates.astro";

import { currentYear } from "@/lib/utils";
import data from "@/data/f1.json";
import type { Race, Prediction, Season } from "@/types";
import SeasonCard from "@/components/races/SeasonCard.astro";

export const CIRCUIT_ICONS: Record<string, any> = {
  AbuDhabi,
  Australia,
  Austria,
  Azerbaijan,
  Bahrain,
  Belgium,
  Brazil,
  Britain,
  Canada,
  Emilia,
  Hungary,
  Italy,
  Japan,
  LasVegas,
  Mexico,
  Miami,
  Monaco,
  Netherlands,
  Qatar,
  SaudiArabia,
  Singapore,
  Spain,
  UnitedStates,
};

const {
  races,
  season_predictions,
}: { races: Race[]; season_predictions: Season } = data.find(
  (season) => season.year === currentYear
);

const mattRacesPredictions = races.map((race: Race) => race.predictions.matt);
const tommyRacesPredictions = races.map((race: Race) => race.predictions.tommy);
let mattRacePredictionsPoints = 0;
let tommyRacePredictionsPoints = 0;

mattRacesPredictions.forEach((prediction: Prediction) => {
  Object.keys(prediction).forEach((key: string) => {
    // @ts-expect-error - I know this is a valid key
    let point: number = prediction[key].point;

    if (point !== null) {
      mattRacePredictionsPoints += point;
    }
  });
});

tommyRacesPredictions.forEach((prediction: Prediction) => {
  Object.keys(prediction).forEach((key) => {
    // @ts-expect-error - I know this is a valid key
    let point: number = prediction[key].point;

    if (point !== null) {
      tommyRacePredictionsPoints += point;
    }
  });
});

// const res = await fetch("https://ergast.com/api/f1/2023/results.json?limit=30");
// const datax = await res.json();
---

<Layout title="Matt vs. Tommy">
  <main class="max-w-5xl mx-auto">
    <div class="mt-16">
      <h2 class="text-4xl text-center font-semibold">
        Formula 1 {currentYear} Season
      </h2>

      <section>
        <SectionHeading>Total points</SectionHeading>
        <div
          class="mt-8 text-5xl md:text-7xl font-black p-4 place-items-center rounded-lg grid grid-cols-2 bg-gradient-to-r from-violet-500 to-fuchsia-500"
        >
          <div>{mattRacePredictionsPoints}</div>
          <div>{tommyRacePredictionsPoints}</div>
        </div>
      </section>

      <section>
        <SectionHeading>Season predictions</SectionHeading>
        <div class="mt-8 flex flex-col items-center gap-8">
          <SeasonCard season_predictions={season_predictions} />
        </div>
      </section>

      <section>
        <SectionHeading>Race predictions</SectionHeading>
        <div class="mt-8 flex flex-col items-center gap-8">
          {
            races.map((race: Race) => {
              const Icon = CIRCUIT_ICONS[race.image];

              return <RaceCard race={race} Icon={Icon} />;
            })
          }
        </div>
      </section>
    </div>
  </main>
</Layout>
